.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gainsboro;
  height: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 1px solid black;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px 50px;
}

.navbar:hover {
  background-color: gray;
  transform: translateY(-2px);
}

.logo {
  display: flex;
  align-items: center;
}

.search-bar {
  position: relative;
}

.search-bar input {
  height: 35px;
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
}

.search-bar input::placeholder {
  color: #aaa;
}

.search-bar input:focus {
  transform: scale(1.05);
}


.searchBox {
  position: absolute;
  top: 45px; 
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 300px; 
  overflow-y: auto; 
  z-index: 999;
  padding: 10px;
  display: none; 
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.searchBox h1 {
  font-size: 14px;
  margin: 5px 0;
  padding: 5px;
}

.searchBox h1:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  margin-left: 60px;
  font-size: larger;
  cursor: pointer;
}

.nav-links a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
  background-color: gainsboro;
  color: #fffacd;
  transform: translateY(-2px);
}
